#addMessage {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: black;
  padding: 0;
  height: 10em;
  @media (min-width: 768px) {
    height: 6em;
  }
  #messageSubmitForm {
    text-align: center;
    @media (min-width: 768px) {
      text-align: start;
    }
    #gifAddedBadge {
      display: none;
    }
  }
  #postingAsDiv{
    line-height: .75em;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}