@import "~bootstrap/scss/bootstrap";
@import "./colors";
@import "./sliderButtons";

.lightMode {
  @include lightModeBody;
}

.darkMode {
  @include darkModeBody;
}

body {
  font-family: 'Rock Salt', cursive;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.largeMode {
  font-size: 28px;
  flex-basis: inherit;
}

.regMode {
  font-size: 16px;
}

.navbar {
  padding: 0;
  #bigModeDiv {
    @include sliderButton;
    font-size: .25em;
    @media (min-width: 768px) {
      font-size: 1em;
    }
  }
  #darkOrLightModeDiv {
    margin: 1em;
    @include sliderButton;
  }
  .mobile-font {
    font-size: .25em;
    @media (min-width: 768px) {
      font-size: .75em;
    }
    @media (min-width: 992px) {
      font-size: 1em;
    }
  }
  #navTitle {
    margin: auto;
    #busName {
      font-family: 'Libre Barcode 128 Text', cursive;
      font-size: 36px;
      @media (min-width: 768px) {
        font-size: 72px;
      }
    }
  }
  .dropdown-menu {
    padding-left: .5em;
  }
}