@import '../../../styles/colors';

#displayMessage {
  margin: auto;
  margin-top: 105px;
  margin-bottom: 10em;
  box-shadow: 3px 3px 13px black;
  border: 0;
  width: 100%;
  min-height: 30em;
  @media (min-width: 768px) {
    width: 75%;
    margin-bottom: 105px;
  }
  @media (min-width: 992px) {
    width: 60%;
  }
}
.message {
  width: 100%;
  button {
    font-size: 1em;
  }
  min-height: 6em;
  padding-top: .5em;
  .userImage {
    border: 1px solid black;
    margin: 0.75em;
    border-radius: 50%;
    max-height: 4em;
  }
  .media-header {
    .timeStamp {
      font-size: .7em;
      color: $blue;
    }
  }
  .messageContent {
    min-height: 3em;
    margin-bottom: .5em;
    p {
      margin-top: 1em;
    }
  }
  .thumbs {
    font-family: 'Antic Slab', serif;
    .thumb-btn {
      margin-right: 10px;
    }
  }
  .editForm {
    width: 100%;
    #textArea {
      width: 80%;
    }
  }
}

.lightModeMessages{
  @include lightModeMessages;
}

.darkModeMessages{
  @include darkModeMessages;
}

// #textArea {
//   display: none;
// }
.hidden {
  display: none;
}
.shown {
 display: block;
}