@import '../../../styles/colors';

#displayMessage {
  width: 60%;
  margin: auto;
  min-height: 30em;
}
.message {
  width: 100%;
  button {
    font-size: 1em;
  }
  min-height: 6em;
  padding-top: .5em;
  .userImage {
    margin: 0.75em;
    border-radius: 50%;
    max-height: 4em;
  }
  .media-header {
    .timeStamp {
      font-size: .7em;
      color: $blue;
    }
  }
  .messageContent {
    min-height: 3em;
    margin-bottom: .5em;
    p {
      margin-top: 1em;
    }
  }
  .editForm {
    width: 100%;
    #textArea {
      width: 90%;
    }
  }
}

.lightModeMessages{
  @include lightModeMessages;
}

.darkModeMessages{
  @include darkModeMessages;
}

// #textArea {
//   display: none;
// }
.hidden {
  display: none;
}
.shown {
 display: block;
}